body {
	background-color: #FFFFFF;
}
header {
		background-color: #4c4cff;
		color: white;
		text-align: center;
		font-family: "Sans-serif", Verdana;
		font-size:75px;
}
nav.menu{
	text-align: center;
	color: #blue;
	font-family: "Sans-serif", Verdana;
	font-size:20px;
	font-stretch: expanded;
}
aside.rand_txt {
	text-align: right;
	padding-right: 45%;
	padding-top: 10%;
	font-family: "Sans-serif", Verdana;
	
}
form.log_ar {
	text-align: right;
	padding-right: 38%;
	padding-top: 1%;
}
.vl {
	border-left: 2px solid grey;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 130;
}
textarea{
	resize: none;
}
table, th, td {
	border: 0px solid black;
	
}
div.login_buttons, th, td {
	text-align: right;
	width: 120px;
	height: 30px;
}
span{
	font-family: "Sans-serif", Verdana;
	font-size:20px;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}